th {
    background-color: #f2f2f2;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.graphs {
    margin-left: 15px;
}

.start_letter {
    margin-left: 10px;
}

.head_margin {
    margin-top: 10px;
}
